@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --color-primary-1: hsl(180, 66%, 49%);
  --color-primary-2: hsl(257, 27%, 26%);

  --color-secondary: hsl(0, 87%, 67%);

  --color-neutral-1: hsl(0, 0%, 75%);
  --color-neutral-2: hsl(257, 7%, 63%);
  --color-neutral-3: hsl(255, 11%, 22%);
  --color-neutral-4: hsl(260, 8%, 14%);
  --color-neutral-5: #eff1f7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 500;
}

.container {
  /* background-color: #eee; */
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  overflow: hidden;
}

/*********************************/
/*********************************/
/* SECTION HEADER */
/*********************************/

.section-header {
  padding: 2rem 0rem;

  display: flex;
  align-items: center;
  gap: 8rem;
}

.section-header .logo {
  height: 4rem;
}

.section-header .logo img {
  height: 100%;
}

.nav .nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav .nav-list .nav-item a:link,
.nav .nav-list .nav-item a:visited {
  text-decoration: none;
  color: var(--color-neutral-2);

  transition: all 0.3s;
}

.nav .nav-list .nav-item a:hover,
.nav .nav-list .nav-item a:active {
  color: var(--color-primary-2);
}

.section-header .auth {
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 3rem;
}

.section-header .auth .auth-login:link,
.section-header .auth .auth-login:visited,
.section-header .auth .auth-signup:link,
.section-header .auth .auth-signup:visited {
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 1.2rem 3rem;
  text-decoration: none;
  transition: all 0.3s;
}

.section-header .auth .auth-login:link,
.section-header .auth .auth-login:visited {
  color: var(--color-neutral-2);
}

.section-header .auth .auth-login:hover,
.section-header .auth .auth-login:active {
  color: var(--color-primary-2);
}

.section-header .auth .auth-signup:link,
.section-header .auth .auth-signup:visited {
  background-color: var(--color-primary-1);
  color: #fff;
}

.section-header .auth .auth-signup:hover,
.section-header .auth .auth-signup:active {
  background-color: var(--color-primary-2);
}

/*********************************/

/*********************************/
/*********************************/
/* DROPDOWN MENU */
/*********************************/
.dropdown-menu {
  width: 80%;
  background-color: var(--color-primary-2);
  margin: 1rem auto;
  padding: 4rem 0rem;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

.dropdown-menu .dropdown-nav {
  padding-bottom: 4rem;
}

.dropdown-menu .dropdown-nav .nav-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.dropdown-menu .nav-list {
  list-style: none;
}

.dropdown-menu .nav-list a:link,
.dropdown-menu .nav-list a:visited {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.dropdown-menu .dropdown-auth {
  width: 60%;
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 3rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.dropdown-menu .dropdown-auth .auth-login:link,
.dropdown-menu .dropdown-auth .auth-login:visited,
.dropdown-menu .dropdown-auth .auth-signup:link,
.dropdown-menu .dropdown-auth .auth-signup:visited {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu .dropdown-auth .auth-signup:link,
.dropdown-menu .dropdown-auth .auth-signup:visited {
  padding: 1.5rem 4rem;
  background-color: var(--color-primary-1);
  border-radius: 2rem;
}

/*********************************/

/*********************************/
/*********************************/
/* HAMBURGER MENU  */
/*********************************/

.hamburger-menu {
  display: none;
  height: 3rem;
  width: 4rem;
  cursor: pointer;
}

.hamburger-menu svg {
  height: 100%;
  width: 100%;
  color: var(--color-neutral-2);
}

/*********************************/

/*********************************/
/*********************************/
/* SECTION HERO */
/*********************************/

/* .section-hero {
  background-color: #eee;
} */

.section-hero .hero {
  width: 90%;
  margin: 0 auto;

  display: flex;
}

.section-hero .hero .hero-text-box {
  width: 60%;
  padding: 8rem 3rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-text-box .hero-heading {
  font-size: 8.6rem;
  color: var(--color-primary-2);
  margin-bottom: 4rem;
  line-height: 1.1;
}

.hero-text-box .hero-description {
  font-size: 2.4rem;
  width: 80%;
  line-height: 1.6;
  letter-spacing: 0.01rem;
  color: var(--color-neutral-2);
  margin-bottom: 8rem;
}

.hero-text-box .hero-cta-btn {
  padding: 1.5rem 3rem;
  font-size: 2.4rem;
  border: none;
  border-radius: 4rem;
  background-color: var(--color-primary-1);
  color: #fff;
  cursor: pointer;
}

.hero-text-box .hero-cta-btn:hover {
  background-color: var(--color-primary-2);
}

.section-hero .hero .hero-img-box {
  padding-top: 12rem;
  width: 40%;
}

.section-hero .hero .hero-img-box img {
  height: 100%;
  width: 100%;
}

/*********************************/

/*********************************/
/*********************************/
/* SECTION SHORTENER */
/*********************************/
.section-shortener {
  background-color: var(--color-neutral-5);
  margin-top: 16rem;
  padding-bottom: 8rem;
}

.shortener-container {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.shortener-form {
  width: 80%;
  background-color: var(--color-primary-2);
  padding: 6rem 3rem 4rem 3rem;
  border-radius: 9px;
  background-image: url("/bg-boost-desktop.svg");
  background-size: cover;
  background-position: center;
  margin-top: -8rem;
  margin-bottom: 4rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.shortener-form div {
  margin-bottom: 1rem;

  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.shortener-form div input {
  width: 80%;
  padding: 1.5rem 2rem;
  font-size: 2.2rem;
  border-radius: 9px;
  border: none;
}

.shortener-form div input::placeholder {
  color: var(--color-neutral-1);
}

.shortener-error {
  outline: 2px solid var(--color-secondary);
}

.shortener-form div button {
  width: 20%;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: var(--color-primary-1);
  border: none;
  border-radius: 9px;
  color: #fff;
  cursor: pointer;

  transition: all 0.3s;
}

.shortener-form div button:hover {
  background-color: var(--color-primary-2);
}

.shortener-form p {
  color: var(--color-secondary);
  font-size: 1.4rem;
  font-style: italic;
}

.shortener-results {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.shortener-result {
  width: 80%;
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 9px;
  font-size: 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shortener-result .shortener-original-url {
  color: var(--color-primary-2);
  overflow: auto;
}

.shortener-result .shortener-result-url {
  color: var(--color-primary-1);
}

.shortener-result .shortener-copy-btn {
  color: #fff;
  border: none;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s;
}

.shortener-result .shortener-copy-btn.shortener-copy-normal {
  background-color: var(--color-primary-1);
}

.shortener-result .shortener-copy-btn.shortener-copied {
  background-color: var(--color-primary-2);
}

.shortener-result .shortener-copy-btn:hover {
  background-color: var(--color-primary-2);
}

/*********************************/

/*********************************/
/*********************************/
/* SECTION STATS */
/*********************************/

.section-stats {
  background-color: var(--color-neutral-5);
}

.stats-header {
  /* background-color: red; */
  width: 60%;
  margin: 0 auto;
  padding: 4rem 0rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
/* / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74  */
.stats-header h2 {
  font-size: 4.4rem;
  color: var(--color-primary-2);
}

.stats-header p {
  width: 65%;
  text-align: center;
  font-size: 2rem;
  color: var(--color-neutral-2);
  line-height: 1.6;
  letter-spacing: 1px;
}

.stats-items {
  /* background-color: bisque; */
  background-color: var(--color-neutral-5);
  padding: 8rem 8rem 16rem 8rem;
  width: 85%;
  margin: 0 auto;

  display: flex;
  /* justify-content: space-between; */
}

.stats-item {
  width: 30%;
  padding: 0rem 2rem 4rem 2rem;
  border-radius: 9px;
  background-color: #fff;
}

.stats-item:nth-child(3) {
  transform: translateY(4rem);
}

.stats-item:last-child {
  transform: translateY(8rem);
}

.stats-item .stats-item-logo {
  display: inline-block;
  padding: 1.2rem;
  border-radius: 50%;
  margin-bottom: 4rem;
  margin-top: -5rem;
  background-color: var(--color-primary-2);
}

.stats-item .stats-item-heading {
  font-size: 2rem;
  color: var(--color-primary-2);
  margin-bottom: 1rem;
}

.stats-item .stats-item-description {
  font-size: 1.6rem;
  color: var(--color-neutral-2);
  line-height: 1.6;
}

.stats-items .stats-bars {
  background-color: var(--color-primary-1);
  height: 1rem;
  width: 5%;
  align-self: center;
  transform: translateY(2rem);
}

/*********************************/

/*********************************/
/*********************************/
/* SECTION CTA */
/*********************************/

.section-cta {
  background-image: url("/bg-boost-desktop.svg");
  background-color: var(--color-primary-2);
  background-size: cover;
}

.cta-container {
  width: 40%;
  margin: 0 auto;
  padding: 4rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.cta-container .cta-heading {
  font-size: 3.6rem;
  color: #fff;
}

.cta-container .cta-btn {
  border: none;
  padding: 1rem 4rem;
  font-size: 2rem;
  background-color: var(--color-primary-1);
  border-radius: 2rem;
  color: #fff;
  font-weight: 700;
  transition: all 0.3s;
  cursor: pointer;
}

.cta-container .cta-btn:hover {
  background-color: var(--color-primary-2);
}

/*********************************/

/*********************************/
/*********************************/
/* SECTION FOOTER */
/*********************************/

.section-footer {
  background-color: var(--color-neutral-4);
  padding: 8rem;

  display: flex;
  justify-content: space-between;
}

.footer-logo-container {
  width: 20%;
}

.footer-logo-container img {
  filter: invert(1) brightness(3);
}

.footer-links-container {
  display: flex;
  gap: 8rem;
}

.footer-links-container div {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer-links-container div .footer-links-heading {
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.6px;
}

.footer-links-container .footer-links {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-links .footer-link a:link,
.footer-links .footer-link a:visited {
  text-decoration: none;
  color: var(--color-neutral-2);
  font-size: 1.4rem;
  transition: all 0.3s;
}

.footer-links .footer-link a:hover,
.footer-links .footer-link a:active {
  color: var(--color-neutral-1);
}

.footer-social-container .social-links {
  list-style: none;

  display: flex;
  gap: 2rem;
}

.social-links a img {
  transition: all 0.3s;
}

.social-links a img:hover {
  filter: invert(0.2);
}

/*********************************/

/*********************************/
/*********************************/
/* MEDIA QUERIES */
/*********************************/

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }

  .hamburger-menu {
    display: none;
  }

  .dropdown-menu {
    display: none;
  }

  .section-hero .hero {
    width: 90%;
  }

  .section-hero .hero .hero-text-box {
    width: 55%;
    padding: 8rem 1rem;
  }

  .hero-text-box .hero-heading {
    font-size: 7.6rem;
  }

  .hero-text-box .hero-description {
    font-size: 2rem;
  }

  .section-hero .hero .hero-img-box {
    width: 45%;
  }

  .shortener-form {
    padding: 4rem 3rem 3rem 3rem;
  }

  .shortener-form div input {
    font-size: 1.8rem;
  }

  .shortener-form div button {
    font-size: 1.6rem;
  }

  .stats-items {
    width: 95%;
  }

  .stats-header {
    gap: 2rem;
  }

  .stats-header p {
    font-size: 1.8rem;
  }

  .section-footer {
    padding: 8rem 4rem;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  .dropdown-menu {
    display: none;
  }

  .section-hero .hero {
    width: 95%;
  }

  .hero-text-box .hero-heading {
    font-size: 6.4rem;
  }

  .hero-text-box .hero-description {
    font-size: 1.8rem;
    width: 90%;
  }

  .hero-text-box .hero-cta-btn {
    font-size: 2rem;
  }

  .section-hero .hero .hero-img-box {
    padding-top: 16rem;
  }

  .shortener-container {
    width: 90%;
  }

  .shortener-form {
    margin-top: -6rem;
  }

  .shortener-form div input {
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }

  .shortener-form div button {
    font-size: 1.3rem;
  }

  .shortener-result {
    font-size: 1.4rem;
    width: 90%;
    padding: 1rem 2rem;
  }

  .shortener-result .shortener-copy-btn {
    font-size: 1.6rem;
  }

  .stats-items {
    width: 100%;
  }

  .stats-item {
    padding: 0rem 2rem 3rem 2rem;
  }

  .stats-item .stats-item-logo {
    padding: 1rem;
    margin-bottom: 3rem;
  }

  .stats-item .stats-item-heading {
    font-size: 1.8rem;
  }

  .stats-item .stats-item-description {
    font-size: 1.4rem;
  }

  .cta-container {
    width: 50%;
  }

  .footer-logo-container img {
    width: 70%;
  }

  .footer-links-container div .footer-links-heading {
    font-size: 1.4rem;
  }

  .footer-links .footer-link a {
    font-size: 1.2rem;
  }

  .footer-links-container {
    gap: 4rem;
  }

  .footer-social-container .social-links {
    gap: 1rem;
  }

  .social-links a img {
    width: 80%;
  }

  .footer-logo-container {
    width: 15%;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .section-header {
    font-size: 1.6rem;
    gap: 4rem;
  }

  .section-header .logo {
    height: 3rem;
  }

  .nav .nav-list {
    gap: 2rem;
  }

  .section-header .auth {
    gap: 1rem;
  }

  .dropdown-menu {
    display: none;
  }

  .section-hero .hero .hero-text-box {
    padding: 8rem 1rem 2rem 1rem;
  }

  .hero-text-box .hero-heading {
    font-size: 4.4rem;
  }

  .hero-text-box .hero-description {
    font-size: 1.4rem;
  }

  .hero-text-box .hero-cta-btn {
    font-size: 1.8rem;
  }

  .section-hero .hero .hero-img-box {
    padding-top: 12rem;
    padding-bottom: 4rem;
  }

  .shortener-form {
    width: 90%;
    padding: 3rem 3rem 2rem 3rem;
    margin-top: -5rem;
  }

  .shortener-form p {
    font-size: 1.3rem;
  }

  .shortener-form div button {
    font-size: 1.4rem;
  }

  .shortener-results {
    width: 90%;
  }

  .shortener-result .shortener-copy-btn {
    font-size: 1.4rem;
  }

  .stats-header {
    padding: 2rem 0;
  }

  .stats-header h2 {
    font-size: 3.6rem;
    letter-spacing: 1px;
  }

  .stats-header p {
    font-size: 1.4rem;
  }

  .stats-items {
    padding: 4rem 4rem 16rem 4rem;
  }

  .stats-item .stats-item-logo {
    padding: 1rem;
  }

  .stats-item .stats-item-logo img {
    width: 100%;
  }

  .stats-item .stats-item-heading {
    font-size: 1.6rem;
  }

  .stats-item .stats-item-description {
    font-size: 1.2rem;
  }

  .stats-items .stats-bars {
    height: 0.8rem;
    transform: translateY(3rem);
  }

  .cta-container {
    width: 70%;
  }

  .cta-container .cta-heading {
    font-size: 3rem;
  }

  .cta-container .cta-btn {
    font-size: 1.8rem;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .section-header {
    font-size: 1.4rem;
  }

  .section-header .logo {
    height: 2.8rem;
  }

  .nav .nav-list {
    gap: 3rem;
  }

  .section-header .auth {
    gap: 2rem;
  }

  .section-header .auth .auth-login:link,
  .section-header .auth .auth-login:visited,
  .section-header .auth .auth-signup:link,
  .section-header .auth .auth-signup:visited {
    padding: 0.8rem 1.5rem;
  }

  .dropdown-menu {
    display: none;
  }

  .section-hero .hero {
    width: 100%;
  }

  .hero-text-box .hero-heading {
    margin-bottom: 2rem;
  }

  .hero-text-box .hero-description {
    margin-bottom: 6rem;
  }

  .shortener-form {
    width: 95%;
    margin-top: -4.5rem;
  }

  .shortener-form div input {
    font-size: 1.2rem;
  }

  .shortener-form div button,
  .shortener-result,
  .shortener-result .shortener-copy-btn {
    font-size: 1.3rem;
  }

  .shortener-results {
    width: 95%;
  }

  .stats-header {
    margin-bottom: 2rem;
  }

  .stats-header h2 {
    font-size: 3.4rem;
  }

  .stats-header p {
    font-size: 1.2rem;
    width: 90%;
  }

  .stats-items {
    flex-direction: column;
    align-items: center;
  }

  .stats-item {
    width: 55%;
    text-align: center;
  }

  .stats-item .stats-item-heading {
    font-size: 2rem;
  }

  .stats-item .stats-item-description {
    font-size: 1.4rem;
  }

  .stats-items .stats-bars {
    height: 6rem;
    width: 1rem;
    transform: translateY(0rem);
  }

  .stats-item:nth-child(3) {
    transform: translateY(2rem);
    z-index: 1;
  }

  .stats-item:last-child {
    transform: translateY(4rem);
  }

  .cta-container .cta-heading {
    font-size: 2.4rem;
  }

  .cta-container .cta-btn {
    font-size: 1.6rem;
  }

  .footer-links-container {
    width: 70%;
  }

  .footer-social-container .social-links {
    flex-direction: column;
    gap: 2rem;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  .section-header {
    justify-content: space-between;
  }

  .section-header .logo {
    margin-left: 1rem;
  }

  .nav {
    display: none;
  }

  .section-header .auth {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .dropdown-menu {
    display: flex;
  }

  .section-hero .hero {
    flex-direction: column;
  }

  .section-hero .hero .hero-text-box {
    order: 2;
    width: 100%;
    text-align: center;
    padding-top: 4rem;
    align-items: center;
  }

  .hero-text-box .hero-heading {
    font-size: 6rem;
  }

  .hero-text-box .hero-description {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }

  .section-hero .hero .hero-img-box {
    order: 1;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 0rem;
  }

  .hero-text-box .hero-cta-btn {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .shortener-form {
    width: 100%;
    margin-top: -8rem;
  }

  .shortener-form div {
    flex-direction: column;
    align-items: center;
    order: 2;
    margin-bottom: 0rem;
  }

  .shortener-form div input {
    width: 100%;
    font-size: 1.8rem;
  }

  .shortener-form div button {
    padding: 1.2rem 2rem;
    width: 35%;
    font-size: 1.6rem;
  }

  .shortener-form p {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .shortener-results {
    gap: 3rem;
  }

  .shortener-result {
    font-size: 1.6rem;
    padding: 2rem 1rem;

    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .shortener-result .shortener-original-url {
    padding-bottom: 2rem;
    align-self: stretch;
    border-bottom: 1px solid var(--color-neutral-1);
  }

  .shortener-result .shortener-copy-btn {
    align-self: stretch;
    font-size: 1.8rem;
    padding: 1.4rem;
  }

  .stats-header {
    width: 75%;
  }

  .stats-header h2 {
    font-size: 3rem;
  }

  .stats-header p {
    font-size: 1.4rem;
  }

  .stats-item {
    width: 70%;
  }

  .stats-item .stats-item-heading {
    margin-bottom: 2rem;
  }

  .section-cta {
    background-image: url("/bg-boost-mobile.svg");
    background-size: cover;
  }

  .section-footer {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .footer-logo-container {
    width: 40%;
    text-align: center;
  }

  .footer-links-container {
    width: 100%;
    justify-content: space-between;
  }

  .footer-social-container .social-links {
    flex-direction: row;
    gap: 4rem;
  }

  .social-links a img {
    width: 100%;
  }
}

/*


.footer-logo-container img



.footer-links-container .footer-links
.footer-links .footer-link a:link,
.footer-links .footer-link a:visited 
.footer-links .footer-link a:hover,
.footer-links .footer-link a:active
.footer-social-container .social-links
.social-links a img
.social-links a img:hover 
 */

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  .hero-text-box .hero-heading {
    font-size: 4.4rem;
  }

  .hero-text-box .hero-description {
    font-size: 1.4rem;
  }

  .section-hero .hero .hero-img-box {
    padding-top: 2rem;
  }

  .section-hero .hero .hero-img-box img {
    transform: translateX(15%);
  }

  .shortener-container {
    width: 100%;
  }

  .shortener-form div input {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .shortener-form div button {
    width: 40%;
    font-size: 1.6rem;
  }

  .shortener-form p {
    margin-bottom: 2rem;
  }

  .stats-header {
    width: 95%;
  }

  .stats-header h2 {
    font-size: 3rem;
  }

  .stats-header p {
    font-size: 1.6rem;
  }

  .stats-item {
    width: 100%;
  }

  .stats-item .stats-item-heading {
    font-size: 2.4rem;
  }

  .stats-item .stats-item-description {
    font-size: 1.6rem;
  }

  .section-cta {
    padding: 1rem 0;
  }

  .cta-container {
    width: 100%;
  }

  .section-footer {
    padding: 8rem 2rem;
    gap: 6rem;
  }

  .footer-logo-container {
    width: 70%;
  }

  .footer-links-container {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }

  .footer-links-container div {
    text-align: center;
    gap: 2rem;
  }

  .footer-links-container div .footer-links-heading {
    font-size: 1.8rem;
  }
}
