@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --color-primary-1: hsl(180, 66%, 49%);
  --color-primary-2: hsl(257, 27%, 26%);
  --color-primary-shade-1: #55d9d9;

  --color-secondary: hsl(0, 87%, 67%);

  --color-neutral-1: hsl(0, 0%, 75%);
  --color-neutral-2: hsl(257, 7%, 63%);
  --color-neutral-3: hsl(255, 11%, 22%);
  --color-neutral-4: hsl(260, 8%, 14%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 500;
}

.container {
  /* background-color: #eee; */
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/*********************************/
/*********************************/
/* SECTION HEADER */
/*********************************/

.section-header {
  padding: 2rem 0rem;

  display: flex;
  align-items: center;
  gap: 8rem;
}

.section-header .logo {
  height: 4rem;
}

.section-header .logo img {
  height: 100%;
}

.nav .nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav .nav-list .nav-item a:link,
.nav .nav-list .nav-item a:visited {
  text-decoration: none;
  color: var(--color-neutral-2);

  transition: all 0.3s;
}

.nav .nav-list .nav-item a:hover,
.nav .nav-list .nav-item a:active {
  color: var(--color-primary-2);
}

.section-header .auth {
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 3rem;
}

.section-header .auth .auth-login:link,
.section-header .auth .auth-login:visited,
.section-header .auth .auth-signup:link,
.section-header .auth .auth-signup:visited {
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 1.2rem 3rem;
  text-decoration: none;
  transition: all 0.3s;
}

.section-header .auth .auth-login:link,
.section-header .auth .auth-login:visited {
  color: var(--color-neutral-2);
}

.section-header .auth .auth-login:hover,
.section-header .auth .auth-login:active {
  color: var(--color-primary-2);
}

.section-header .auth .auth-signup:link,
.section-header .auth .auth-signup:visited {
  background-color: var(--color-primary-1);
  color: #fff;
}

.section-header .auth .auth-signup:hover,
.section-header .auth .auth-signup:active {
  background-color: var(--color-primary-shade-1);
}

/*********************************/

/*********************************/
/*********************************/
/* DROPDOWN MENU */
/*********************************/
.dropdown-menu {
  width: 80%;
  background-color: var(--color-primary-2);
  margin: 1rem auto;
  padding: 4rem 0rem;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

.dropdown-menu .dropdown-nav {
  padding-bottom: 4rem;
}

.dropdown-menu .dropdown-nav .nav-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.dropdown-menu .nav-list {
  list-style: none;
}

.dropdown-menu .nav-list a:link,
.dropdown-menu .nav-list a:visited {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.dropdown-menu .dropdown-auth {
  width: 60%;
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dropdown-menu .dropdown-auth .auth-login:link,
.dropdown-menu .dropdown-auth .auth-login:visited,
.dropdown-menu .dropdown-auth .auth-signup:link,
.dropdown-menu .dropdown-auth .auth-signup:visited {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu .dropdown-auth .auth-signup:link,
.dropdown-menu .dropdown-auth .auth-signup:visited {
  padding: 1.5rem 4rem;
  background-color: var(--color-primary-1);
  border-radius: 2rem;
}

/*********************************/

/*********************************/
/*********************************/
/* HAMBURGER MENU  */
/*********************************/

.hamburger-menu {
  display: block;
  height: 3rem;
  width: 4rem;
  cursor: pointer;
}

.hamburger-menu svg {
  height: 100%;
  width: 100%;
  color: var(--color-neutral-2);
}

/*********************************/

/*********************************/
/*********************************/
/* MEDIA QUERIES */
/*********************************/

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }

  .hamburger-menu {
    display: none;
  }

  .dropdown-menu {
    display: none;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  .dropdown-menu {
    display: none;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .section-header {
    font-size: 1.6rem;
    gap: 4rem;
  }

  .section-header .logo {
    height: 3rem;
  }

  .nav .nav-list {
    gap: 2rem;
  }

  .section-header .auth {
    gap: 1rem;
  }

  .dropdown-menu {
    display: none;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .section-header {
    font-size: 1.4rem;
  }

  .section-header .logo {
    height: 2.5rem;
  }

  .nav .nav-list {
    gap: 3rem;
  }

  .section-header .auth {
    gap: 2rem;
  }

  .section-header .auth .auth-login:link,
  .section-header .auth .auth-login:visited,
  .section-header .auth .auth-signup:link,
  .section-header .auth .auth-signup:visited {
    padding: 0.8rem 1.5rem;
  }

  .dropdown-menu {
    display: none;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  .section-header {
    justify-content: space-between;
  }

  .nav {
    display: none;
  }

  .section-header .auth {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .dropdown-menu {
    display: flex;
  }
}

/* xs */
/* xs */
/* xs */
/* xs */
/* xs */
/* xs */
/* xs */
/* xs */
@media (max-width: 475px);
